

.container {
  display: grid;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  /* width: 60%;  */
}

.nav-menu {
  font-size: 1.5vw;
  /* margin-bottom: 5%;   */
  margin-top: 5%;
}

.links-menu {
  margin-top: 4%;
  font-size: 1.2vw;
}

.content{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.project_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.title{
  font-size: 3vw;
}

p, li{
  font-size: 1.2vw;
}
.nav-item {
  color: #00687f;
  margin: 1%;
  text-decoration: none;
  font-family: 'brandon_textlight', 'Avenir', 'Helvetica', sans-serif;
}

.main {
}

.splash {

  font-size: 4vw;
  font-family: 'Brandon Text Medium', 'Avenir', 'Helvetica', sans-serif;;
  line-height: 1em;
    font-weight: bold;
    margin-right: 15%;
}


@font-face {
  font-family: 'Brandon Text Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Brandon Text Medium'), url('HVD Fonts - BrandonText-Medium.woff') format('woff');
  }

  @font-face {
    font-family: 'Brandon Text Light';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Text Light'), url('HVD Fonts - BrandonText-Light.woff') format('woff');
    }

    img {
      border-radius: 50%;
      width: 70%;
      height: auto;
      margin-left: 2em;    
      margin-top: 1em;
    }


    .project_card {
      margin: 1em;
    }